p {
    text-indent: 30px;
}
h2 {
    text-indent: 30px;
}
.right {
    text-align: right;
}
.cursive {
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.zero {
    text-indent: 0px;
}