body{
    font-family: sans-serif;
    font-size: 14px;
    background-color: crimson;
        }
ul {
    padding: 0;
    margin-left: 500px;
}
p {
    padding: 0;
    margin-left: 460px;
    margin-right: 460px;
}
div {
    padding: 0;
    margin-left: 460px;
    margin-right: 420px;
}
table {
    padding: 0;
    margin-left: 460px;
    margin-right: 460px;
}
.page {
    padding: 0;
    margin-left: 50px;  
}
.rightimg {
    float: right; /* Выравнивание по правому краю  */ 
    margin: 0px 0 5px 5px; /* Отступы вокруг картинки */
}        