@media all and (max-width:910px) {
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Menu {
    width: 1000px;
    margin: auto;
}
.MainMenu {
    display:block;
    width: 150px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #bca017;
    position: relative;
    margin-bottom: 2px;
    cursor: pointer;
    font-size: larger;
    font-weight: 600;
    color: gray;
}
.lol {
    display: none;
    width: 150px;
}
.SubMenu {
    border: 1px solid black;
    border-radius: 5px;
    background-color: #bca017;
    margin-left: 2px;
    cursor: pointer;
    font-weight: 600;
    color: gray;
}
.MainMenu:hover {
    background-color: brown;
    color: cornflowerblue;
    transition: all 0.5s ease-out;
}
.MainMenu:hover .lol {
    display: block;
    position: absolute;
    right: -150px;
    top: 0;
    z-index: 1;  
}
.SubMenu:first-child {
    margin-left: 2px;
}
.SubMenu:hover {
    background-color: brown;
    color: cornflowerblue;
    transition: all 0.5s ease-out;
} 
}