div {
    border-style: solid;
    border-width: 0.5px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    margin-bottom: 1px;
}
a {
    font-weight: bolder;
} 
div a[class^='doc']::after {
    content: url('img/logo-doc.jpg');
}
div a[class^='pdf']::after {
    content: url('img/logo-pdf.png');
}
div a[class^='zip']::after {
    content: url('img/logo-zip.gif');
}
div a[href^='https']::before {
    content: url('img/extref.png');
}
li:nth-child(n+1) {
    list-style-image: url('img/logo-list.jpg');
}
li a[href$=Doc]:hover {
    background-image: url('img/logo-doc.jpg');
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 20px;
}
li a[href$=pdf]:hover {
    background-image: url('img/logo-pdf.png');
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 20px;
}
li a[href$=zip]:hover {
    background-image: url('img/logo-zip.gif');
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 20px;
}